@font-face {
  font-family: 'Roboto';
  src: url(./font/Roboto/Roboto-Regular.ttf);
}

/* 1. Use a more-intuitive box-sizing model */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    padding: 0;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


#content {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    height: 100vh;
    width: 100vw;
}

#main {
    background-color: #1c1c1c;
    color: #788cde;
    position: relative;
    font-size: 1.25em;
    padding: 20px 5%;
}

#sidebar {
    background-color: #232323;
    min-width: 300px;
}

#add-task {
  background-color: #3b3b3b;
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 5%;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #788cde;
}

input::placeholder {
  color: #788cde; /* Change this to your desired color */
}





