@font-face {
  font-family: 'Roboto';
  src: url(./font/Roboto/Roboto-Regular.ttf);
}

/* 1. Use a more-intuitive box-sizing model */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    padding: 0;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


#content {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#main {
    background-color: #1c1c1c;
    color: #788cde;
    font-size: 1em;
    padding: 20px 5%;
    position: relative; 
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    overflow-y: auto;
}

#sidebar {
    position: sticky;
    background-color: #232323;
    min-width: 200px;
    color: white;
}

#add-task {
  background-color: #3b3b3b;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  color: #788cde;
}

.add-task-div{
  width: fit-content;
  background-color: rgba(28, 28, 28, 0.8);
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  padding-bottom: 20px;
  backdrop-filter: blur(10px);
  z-index: 100;
}


input::placeholder {
  color: #788cde; /* Change this to your desired color */
}

.task-list  {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.task-item {
  background-color: #363636;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  border-radius: 5px;
  padding-left: 5px;
}

img.task-star-icon {
  width: 1.5em;
  cursor: pointer;
}

img.task-complete-icon {
  width: 1.5em;
  cursor: pointer;
}

.task-item-left > div {
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-self: flex-start;
}

.task-item-left{
  display: flex;
  flex-direction: row;
}

.task-item-right {
  display: flex;
  gap: 5px;
  align-items: center;
}

.flag-icon {
  cursor: pointer;
}

.dropdown-icon {
  margin-left: auto;
}

.header p {
  font-size: 0.8em;
}

.task-item-name {
  line-height: 1.25;
}

.task-item-group {
  color: gray;
  font-size: 0.7em;
  padding: 0;
  line-height: 1.25;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  padding-top: 30px;
  color: white;
}

#search-bar {
  background-color: #202020;
  border: 2px solid #3b3b3b;
  border-radius: 8px;
  padding-left: 10px;
  color: white;
}

.sidebar-item-div {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.groupDiv {
  border-top: 2px solid #3b3b3b;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  max-height: 400px; /* Set a maximum height */
  overflow-y: auto;
}

.taskGroup {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.day {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
  border-bottom: 2px solid #3b3b3b;
  padding-bottom: 10px;;
}

.calender-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto-fill, calc(80vh / 5));
  height: 80vh;
}

.calender-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.calender-day {
  border: 1.5px solid #3b3b3b;
  display: flex;
  flex-direction: column;
}

.calender-date {
  border-bottom: 1.5px solid #3b3b3b;
  padding-left: 5px;
  background-color: #1c1c1c;
}

.calender-text-content {
  overflow-y: auto;
  padding: 5px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.calender-text-content > p {
  background-color: #232323;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid #363636;
}

.notInCurrMonth > .calender-text-content > p {
  color: #4a547d;
}


.calender-text-content::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}


/* Entire scrollbar container */
::-webkit-scrollbar {
    width: 5px; /* Adjust width for vertical scrollbars */
    height: 8px; /* Adjust height for horizontal scrollbars */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark background */
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
    background: #444; /* Dark gray thumb */
    border-radius: 10px; /* Rounded thumb */
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Slightly lighter gray on hover */
}
